.alert-icon--error {
    border-color: #f27474;
    animation: animateErrorIcon .5s;
}

.alert-icon--error__x-mark {
    position: relative;
    display: block;
    animation: animateXMark .5s;
}

.alert-icon--error__line {
    position: absolute;
    height: 5px;
    width: 47px;
    background-color: #f27474;
    display: block;
    top: 37px;
    border-radius: 2px;
}

.alert-icon--error__line--left {
    transform: rotate(45deg);
    left: 17px;
}

.alert-icon--error__line--right {
    transform: rotate(-45deg);
    right: 16px;
}

@keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        opacity: 0;
    }
    to {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

@keyframes animateXMark {
    0% {
        transform: scale(.4);
        margin-top: 26px;
        opacity: 0;
    }
    50% {
        transform: scale(.4);
        margin-top: 26px;
        opacity: 0;
    }
    80% {
        transform: scale(1.15);
        margin-top: -6px;
    }
    to {
        transform: scale(1);
        margin-top: 0;
        opacity: 1;
    }
}
